* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar-section */

.navbar {
  height: 110px;
}

.logo {
  flex: 1;
}

.nav-wrapper {
  flex: 3.5;
  padding: 110px 0 30px;
  transform: translateY(-110%);
  opacity: 0;
  background: white;
  transition: 250ms ease-in-out;
}

.show-nav .nav-wrapper {
  z-index: 20;
  transform: translateY(0%);
  opacity: 1;
}
.menu-icon {
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #2563ea;
  transition: 250ms ease-in-out;
}
.show-nav .one {
  transform: rotate(-45deg) translateY(6px);
}
.show-nav .two {
  display: none;
}
.show-nav .three {
  transform: rotate(45deg) translateY(-6px);
}

/* Hero-section */

#Hero-section {
  margin-top: 8vh;
}

.Hero-image {
  width: 100%;
  max-width: 650px;
}

.graph {
  right: 3% !important;
  top: 40%;
  width: 22%;
}
.coin {
  left: 5%;
  top: 25%;
  width: 14%;
}

.avatar-img {
  top: -3%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar-img img {
  width: 70px;
}

@media screen and (max-width: 380px) {
  .packages-wrapper {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    flex: 3.5;
    padding: 0px;
    z-index: 10;
    transform: translateY(0%);
    opacity: 1;
    background: none;
  }

  #Hero-section {
    min-height: calc(90vh - 110px);
    margin-top: 0;
  }

  .graph {
    right: 4px;
    top: 40%;
  }
  .coin {
    left: 45px;
    top: 20%;
  }
}
